<div class="col-md-6">

  <h3>Log In</h3>
  <div *ngIf="message" class="alert"
       [ngClass]="{'alert-info': isLoggingIn, 'alert-danger': !isLoggingIn}">
    <div class="text-center">
      <i *ngIf="isLoggingIn" class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
      {{message}}
    </div>
  </div>
  
  <form id="loginForm" (ngSubmit)="login(f)" #f="ngForm">
    <div class="form-group">
      <input class="form-control" type="text" name="username" placeholder="Username" ngModel required>
      <input class="form-control" type="password" name="password" placeholder="Password" ngModel required>
    </div>
    <button class="btn btn-danger">Log In</button>
  </form>
</div>