<div class="section card">
  <h2 class="text-center board-name">
    {{board}}
    <small class="author">By: <a class="user-link">{{author}}</a></small>
    <br>
    <a class="btn btn-danger btn-xs" routerLink="{{createPostRoute}}">Create Post</a>
    
  </h2>

  <div class="posts">
    <hr>
     <div *ngIf="posts"> 
      <div class="post" *ngFor="let post of posts; let i = index">
        <h4 class="text-danger">
          {{i+1}}. {{post.title}}
          <br>
          <small>Created at: {{formatPostDate(post.created_at)}} | by: <a class="user-link">{{post.user_id}}</a></small>
        </h4>
        <hr>
      </div>
     </div> 

  </div>

</div>