<div class="section card">
  <h2 class="text-center">
    {{board}} <button class="btn btn-danger btn-xs">Create Post</button>
  </h2>
  

  <div class="posts">
    <hr>
    <div class="post">
      <h4 class="text-danger">Post title
        <small>by: arya</small>
      </h4>
      <hr>
    </div>

    <div class="post">
      <h4 class="text-danger">Post title
        <small>by: arya</small>
      </h4>
      <hr>
    </div>

    <div class="post">
      <h4 class="text-danger">Post title
        <small>by: arya</small>
      </h4>
      <hr>
    </div>

    <div class="post">
      <h4 class="text-danger">Post title
        <small>by: arya</small>
      </h4>
      <hr>
    </div>
  </div>

</div>