<div class="container">
  <div class="section card">
    <div class="container row">
      <div class="col-md-8">
        <div class="text-center">
          <h3>Decoupled Angular Frontend and Laravel Backend</h3>
          <h4><strong>Sample Accounts</strong></h4>
        </div>

        <div class="row" id="accounts">
          <pre class="col-md-3"><code>Username: jon
Password: snow</code></pre>
          <pre class="col-md-3"><code>Username: daenerys
Password: targaryen</code></pre>
          <pre class="col-md-3"><code>Username: tyrion
Password: lanister</code></pre>
          <pre class="col-md-3"><code>Username: arya
Password: stark</code></pre>
        </div>
        
          <h4 class="text-center"><strong>Boards</strong></h4>
        <div class="row" id="boards">
          <a href="/b/angular" class="col-md-2">/b/angular</a>
          <a href="/b/php" class="col-md-2">/b/php</a>
          <a href="/b/laravel" class="col-md-2">/b/laravel</a>
          <a href="/b/mysql" class="col-md-2">/b/mysql</a>
          <a href="/b/api" class="col-md-2">/b/api</a>
          <div class="col-md-2"><button class="btn btn-danger">Create Board</button></div>
        </div>

        <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <a class="btn btn-danger btn-lg" routerLink="/auth">Register</a>
          </div>
          <div class="col-md-3 ">
            <a class="btn btn-danger btn-lg" routerLink="/auth">Login</a>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg">
        <h2 class="text-center"><strong>Angular Msg Board</strong></h2>
      </div>
    </div>
  </div>
</div>