<div class="section card">
  <div class="container row">
    <div class="col-md-8">
      <div class="text-center">
        <h3>
          Decoupled Angular <a href="https://github.com/ananddpatel/angularmb">Frontend</a> and Laravel <a href="https://github.com/ananddpatel/angularmb-backend">Backend</a>
          <br>
        </h3>
          <h4>Token Based Authentication</h4>
        <hr>
        <h4><strong>Sample Accounts</strong></h4>
      </div>

      <div class="row" id="accounts">
        <pre class="col-md-3"><code>Username: jon
Password: snow</code></pre>
        <pre class="col-md-3"><code>Username: daenerys
Password: targaryen</code></pre>
        <pre class="col-md-3"><code>Username: tyrion
Password: lanister</code></pre>
        <pre class="col-md-3"><code>Username: arya
Password: stark</code></pre>
      </div>
      
        <h4 class="text-center"><strong>Boards</strong></h4>
      <div class="row" id="boards">
        <a routerLink="/b/funny" class="col-md-2">/b/funny</a>
        <a routerLink="/b/tv" class="col-md-2">/b/tv</a>
        <a routerLink="/b/news" class="col-md-2">/b/news</a>
        <a routerLink="/b/movies" class="col-md-2">/b/movies</a>
        <a routerLink="/b/games" class="col-md-2">/b/games</a>
        <div *ngIf="auth.getUser()" class="col-md-2"><a routerLink="/create" class="btn btn-danger">Create Board</a></div>
      </div>

      <div *ngIf="!auth.getUser()" class="row">
        <div class="col-md-3 col-md-offset-3">
          <a class="btn btn-danger btn-lg" routerLink="/auth">Register</a>
        </div>
        <div class="col-md-3 ">
          <a class="btn btn-danger btn-lg" routerLink="/auth">Login</a>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <img src="https://angular.io/assets/images/logos/angular/angular.svg">
      <h2 class="text-center"><strong>Angular Msg Board</strong></h2>
    </div>
  </div>
</div>