<p></p><div class="section card">
	<div class="post" *ngIf="post">
		<h3>
			{{post.title}}
		</h3>
		<small>submitted {{data.formatDate(post.created_at)}} to <a routerLink="/b/{{post.board_name}}">/b/{{post.board_name}}</a> by <a>{{post.author.name}}</a></small>
		<p class="body">{{post.body}}</p>
	</div>
	<hr>
	<form (ngSubmit)="postComment(f)" #f="ngForm">
		<textarea name="comment" class="form-control" placeholder="Comment Here" ngModel required></textarea>
		<button *ngIf="auth.getUser()" class="btn btn-danger">Submit</button>
		<a *ngIf="!auth.getUser()" class="btn btn-danger" routerLink="/auth">Login</a>
	</form>

	<hr>
	<app-commments [comments]="comments"></app-commments>
	<!-- <div *ngIf="comments" class="comments">
		<div class="comment" *ngFor="let comment of comments">
			<a class="user-link">{{comment.author.name}}</a> <small>{{data.formatDate(comment.created_at)}}</small>
			<br>
			{{comment.body}}
		</div>
	</div> -->
</div>